---
layout: default
title: Archive
---
<section id="archive">
  <dl>
  {% for post in site.posts %}
    {% unless post.next %}
      <dt class="alpha">This year's posts</dt>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <dt class="beta">{{ post.date | date: '%Y' }}</dt>
      {% endif %}
    {% endunless %}
    <dd><time>{{ post.date | date:"%e %b" }}</time><a href="{{ post.url }}">{{ post.title }}</a></dd>
  {% endfor %}
  </ul>
</section>