body
  font-family: $font-family
  background-color: #f1efec
  color: $black
  h3, b, strong
    font-weight: 700
  h1, h2, h3, h4, p, ul, ol, li
    margin-bottom: $gutter-width
  p, ul, ol
    +adjust-font-size-to($base-font-size*0.85)
  header
    margin-bottom: $gutter-width*2
    h1
      +adjust-font-size-to($base-font-size*1.25)
      img, span
        display: inline-block
        vertical-align: top
        margin-right: $gutter-width/2
    a
      text-decoration: none
  a
    color: $blue

  pre
    margin: $gutter-width
  code,
  kbd
    color: darkGreen
    font-family: Courier
  
  aside
    div:first-child
    p
      line-height: $base-line-height
      +adjust-font-size-to($base-font-size*0.85)
    ul
      li
        display: inline-block
        margin-right: $gutter-width/4
    
    
  footer
    clear: both
    border-top: 1px solid #ccc
    padding-top: $gutter-width
    text-align: center
    
.rey
  padding-top: $gutter-width
  +container($total-columns)
  section#index
    article
      margin-bottom: $gutter-width*2
      h2
        font-weight: 400
        a
          text-decoration: none
      summary
        margin-left: $gutter-width/2
  #post
    h2
      margin-bottom: 0
      font-weight: 700
    small
      p
        //font-size: $base-font-size*0.7
    p, li
      line-height: $base-line-height
    ul
      li
        list-style-type: disc
    ol
      li
        list-style-type: decimal

+at-breakpoint($desktop)
  section#index,
  article#post
    +span-columns(8)

  aside
    +prefix(1)
    +span-columns(3 omega)


+at-breakpoint($small)  
  section#index
    //+span-columns(6)
  aside
    //+span-columns(2 omega)




