@import "compass/reset"
@import "compass/css3"
@import "compass/utilities"
@import "susy"

// BASE
$base-font-size: 1em
$base-line-height: 1.5em
$relative-font-sizing: true

// COLOURS
$white: #fff
$black: #444
$grey: #ccc
$brown: #4b494a
$blue: #0000ff
$green: #006400

// SUSY
$total-columns: 12
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

// at min 40em use 12-col layout
$desktop: 50em 12

// use 8-col layout up to a max of 40em
$small: 8 50em

//RANDOM
=die
  display: none !important