@import "compass/reset"
@import "compass/css3"
@import "compass/utilities"
@import "susy"

/* BASE */
$relative-font-sizing: true
$base-font-size: 16px
$base-line-height: 22px

/* COLOURS */
$white: #fff
$black: #444
$grey: #ccc

/* SUSY */
$total-columns: 12
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

$container-width: 60em


$desktop: 40em 12

$small: 8 40em




=die
	display: none !important
