<aside>
  <div>
    <p>Hello.</p>
    <p>This is where <a href="mailto:rey+web@zzmag.com">Reyhan Dhuny</a> posts internet things.</p>
    <p>Enjoy your stay. You break it you bought it.</p>
  </div>
  <div>
    <ul>
      <li><a title="Site archive" href="/archive.html">Site archive</a></li>
      <li><a title="RSS feed" href="/atom.xml">RSS feed</a></li>
    </ul>
    <ul class="elsewhere">
      <li><a title="GitHub" href="http://github.com/rey">GitHub</a></li>
      <li><a title="twttr" href="http://twitter.com/reyhan">twttr</a></li>
      <li><a title="Tumblr" href="http://r.tumblr.com">Tumblr</a></li>
      <li><a title="Pinboard" href="http://pinboard.in/u:rey">Pinboard</a></li>
      <li><a title="mlkshk" href="http://mlkshk.com/user/r">mlkshk</a></li>
      <li><a title="Flickr" href="http://flickr.com/reyhan">Flickr</a></li>
    </ul>
  </div>
  <div id="experiments">
    <h3>Experiments</h3>
    <p><a href="http://zzmag.com">zzmag</a> is my newsletter; delivered to your internet mailbox <b>every Monday</b>.</p>
  </div>
</aside>
