<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title != 'home' %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/assets/stylesheets/css/skeleton/skeleton.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/stylesheets/css/skeleton/base.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/stylesheets/css/skeleton/layout.css" rel="stylesheet" type="text/css" media="all">

    <link href="/assets/stylesheets/css/screen.css" rel="stylesheet" type="text/css" media="all">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/assets/images/rey.png">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20776458-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
  <div class="container">
    <header class="sixteen columns">
      <h1><a title="{{ site.tagline }}" class="brand" href="/">{{ site.title }}</a></h1>
    </header><!-- end 16c -->