<aside id="about">
  <div>
    <p>Hello.</p>
    <p>This is where <b>Reyhan Dhuny</b> posts internet things.</p>
    <p>Enjoy your stay. You break it you bought it.</p>
    <p class="byline">&mdash; <a href="mailto:rey@spcshp.com">rey</a></p>
  </div>
  <div>
    <h2>Elsewhere</h2>
    <ul class="planets">
      <li><a title="Flickr" href="http://flickr.com/reyhan"><img src="/assets/images/flickr.png" alt="Flickr"/></a></li>
      <li><a title="Foursquare" href="http://foursquare.com/rey"><img src="/assets/images/foursquare.png" alt="Foursquare"/></a></li>
      <li><a title="GitHub" href="http://github.com/rey"><img src="/assets/images/github.png" alt="GitHub"/></a></li>
      <li><a title="mlkshk" href="http://mlkshk.com/user/r"><img src="/assets/images/mlkshk.png" alt="mlkshk".></a></li>
      <li><a title="Pinboard" href="http://pinboard.in/u:rey"><img src="/assets/images/pinboard.png" alt="Pinboard"/></a></li>
      <li><a title="Tumblr" href="http://r.tumblr.com"><img src="/assets/images/tumblr.png" alt="Tumblr"/></a></li>
      <li><a title="twttr" href="http://twitter.com/reyhan"><img src="/assets/images/twttr.png" alt="twttr"/></a></li>
    </ul>
  </div>
</aside>