@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 112.5%;
  line-height: 1.5em; }

body {
  border-top: 2px solid #0073B0;
  color: #202020;
  padding: 1.5rem; }
  body .alert {
    background-color: #ffc0cb; }
  body .info {
    background-color: #fffff0; }
  body div.reyhan {
    margin: 0 auto;
    overflow: hidden;
    width: 750px; }
  body .off {
    display: none; }
  body .on {
    display: inline-block; }
  body a {
    color: #0073B0; }
  body b, body strong {
    font-weight: 700; }
  body i, body em {
    font-style: italic; }
  body code {
    background-color: #000;
    color: #fff;
    font-family: "Courier New", monospace;
    font-size: 0.75rem;
    padding: 0.25rem; }
  body pre {
    background-color: #000;
    overflow: scroll;
    margin-bottom: 1.5rem;
    padding: 2px; }
    body pre code {
      color: #fff;
      padding: 0; }
  body p {
    margin-bottom: 1.5rem; }
  body q {
    font-style: italic; }
  body q:before {
    content: "“"; }
  body q:after {
    content: "”"; }
  body ul, body ol {
    margin: 0 0 1.5rem 1.5rem; }
  body ul {
    list-style-type: disc; }
  body ol {
    list-style-type: decimal; }
  body main {
    float: left;
    width: 500px; }
    body main h2, body main h3 {
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 1.5rem; }
    body main h2 {
      font-size: 1.11111rem; }
    body main h3 {
      font-size: 1rem; }
  body article {
    margin-bottom: 4.5rem; }
    body article time {
      font-size: 0.88889rem;
      line-height: 0.75rem; }
    body article time:before {
      content: "✿ "; }
    body article blockquote {
      margin-bottom: 1.5rem;
      margin-left: 1.5rem; }
      body article blockquote p {
        font-size: 0.88889rem;
        line-height: 1.5rem; }
      body article blockquote li {
        font-size: 0.88889rem;
        line-height: 1.5rem; }
      body article blockquote ol, body article blockquote ul {
        margin-left: 1.5rem; }
    body article img {
      max-width: 100%; }
  body article.link h2:after {
    color: #ccc;
    content: " →"; }

header {
  float: right;
  width: 200px; }
  header h1 {
    font-size: 1.22222rem;
    font-weight: 700;
    margin-bottom: 1.5rem; }
    header h1 a {
      text-decoration: none; }
    header h1 a:active {
      position: relative;
      top: 1px; }
  header p {
    font-size: 0.88889rem; }
  header form {
    font-size: 0.88889rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem; }
    header form input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%; }
    header form button:hover {
      cursor: pointer; }

footer {
  clear: both; }
  footer p {
    margin-bottom: 0; }

section#about {
  margin-bottom: 4.5rem; }
  section#about time {
    margin-right: 0.75rem; }

/*# sourceMappingURL=style.css.map */
