---
---
$gutter: 25px
$font: 15px
$font-small: 10.5px
$blue: #3875D7

body
  background: #fff
  font-size: $font
  
body.imprima
  font-family: 'Imprima', sans-serif

body
  div#moon
    padding: $gutter/2
    margin: 0 auto
    width: 550px
  
body
  div#moon
    div#lem
      nav
        display: none
      a
        color: #3875D7

body
  div#moon
    div#lem
      header
        margin-bottom: $gutter
        
body
  div#moon
    div#lem
      header
        h1  
          a
            text-decoration: none

body
  div#moon
    div#lem
      h2
        text-transform: uppercase
        margin-bottom: $gutter/2
        
body
  div#moon
    div#lem
      section#main
        div.pagination
          display: none
          
body
  div#moon
    div#lem
      section
        margin-bottom: $gutter
        h3
          margin-bottom: $gutter/2
        p,li
          line-height: $gutter*1.1
        ul
          li
            list-style-type: circle
          
body
  div#moon
    div#lem
      section#updates            
        small
          display: block
          font-size: $font-small
      
body
  footer
    padding-top: $gutter/2
    border-top: 1px dotted #ccc
    font-size: $font-small
    text-transform: uppercase
    text-align: center
